.product {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px 10px 10px 0;
  padding: 10px;

  border-radius: 0.2rem;
  border-bottom: 1px solid #2b2a29;

  width: 270px;
  height: 370px;

  text-decoration: none;
  box-shadow: 2px 4px 12px 0px rgba(34, 60, 80, 0.2);
}

.product:hover {
  box-shadow: 4px 6px 24px 0px rgba(34, 60, 80, 0.2);
}

.product__main-info {
  height: 70%;
}

.product__img {
  width: 100%;
  height: 56%;
  margin-bottom: 0.8rem;

  object-fit: contain;
}

.product__title {
  margin-bottom: 0.6rem;

  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: start;
  font-family: 'PlayfairDisplay';
  color: #1d1f22;
}

.product__desc {
  margin-bottom: 0.6rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: start;
  font-family: 'PlayfairDisplay';
  color: #1d1f22;
}

.product__price {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: start;
  color: #1d1f22;
}

.product__btn-buy {
  position: absolute;
  bottom: 10px;
  right: 10px;

  display: block;
  width: 40px;
  height: 40px;

  outline: none;
  border: none;
  border-radius: 50%;

  background: url('./../../assets/icon-buy.svg') no-repeat center, #1d1f22;
  background-size: 50%;
  cursor: pointer;
}

.product__btn-buy:hover {
  opacity: 0.8;
}
