.message {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  width: 80%;
  margin: 10%;

  background-color: rgba(172, 255, 47, 0.253);
  border: 1px solid greenyellow;

  color: green;
  font-size: 1.2rem;
  font-weight: 700;
}

.message-enter {
  opacity: 0;
}
.message-enter-active {
  opacity: 1;
  transition: opacity 4000ms;
}
.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0;
  transition: opacity 4000ms;
}
